<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/css/style.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Cars</title>
    <style type="text/css">
        #footer {
            position: fixed; /* Фиксированное положение */
            left: 0; bottom: 0; /* Левый нижний угол */
            padding: 10px; /* Поля вокруг текста */
            width: 100%; /* Ширина слоя */
        }

        #right{
            align: right;
        }
    </style>

</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="main.html" th:href="@{/main}" class="navbar-brand bi bi-app">news</a>
            <div class="collapse  navbar-collapse row" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="car_rent.html" th:href="@{/car_rent}">Car rent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="cars.html" th:href="@{/cars}">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="active_rentals.html" th:href="@{/active_rentals}">Active rentals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="users.html" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item" style="position: absolute; right: 0;">
                        <a class="nav-link bi bi-person" href="personal_account.html" th:href="@{|/personal_account/${#httpServletRequest.remoteUser}|}">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">List of all cars</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="car.html"
                       th:href="@{/cars/add}"
                       class="btn btn-light"
                       title="Add car">
                        <i class="bi-plus"></i>&nbsp;<span class="d-none d-sm-inline">Add</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="allCars">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th>№ Car</th>
                            <th>Car model</th>
                            <th>Year of issue</th>
                            <th>Car color</th>
                            <th>Price per day</th>
                            <th>Leased</th>
                            <th></th>
                        </tr>
                        <tbody>
                        <tr th:each="car : ${listCar}">
                            <td th:text="${car.carId}"/>
                            <td th:text="${car.carModel}"/>
                            <td th:text="${car.yearOfIssue}"/>
                            <td th:text="${car.carColor}"/>
                            <td th:text="${car.pricePerDay}+'$'"/>
                            <td th:text="${car.leased}"/>
                            <td class="text-right">
                                <a href="car_update.html"
                                   th:href="@{|/cars/${car.carId}/update|}"
                                   class="btn-sm btn-outline-secondary"
                                   title="Edit car"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="bi-pen"></i> <span
                                        class="d-none d-md-inline">Edit</span></a>
                                <a  href="car_delete.html"
                                   th:href="@{|/cars/${car.carId}/delete|}"
                                   class="btn-sm btn-outline-secondary"
                                   title="Delete car"
                                   data-toggle="tooltip"
                                   data-placement="top">
                                    <i class="bi-x"></i> <span
                                        class="d-none d-md-inline">Delete</span></a>
                            </td>
                        </tr>
                        </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div id="footer">
        <hr/>
        <p class="text-center"> &copy;Created by Ivan Aleinikau 2021</p>
    </div>
</footer>

<script src="../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>