<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header:: header"></header>
<div class="container mt-5 mb-5">
    <h1>Registration</h1>
<form th:action="@{/registration}" method="post">
    <h3 th:text="${message}"/>
    <div><label><input type="email" name="username" placeholder="Enter email" class="form-control"/> </label></div>
    <div><label><input type="password" name="password" placeholder="Enter password" class="form-control"/> </label></div>
    <div><input type="submit" class="btn btn-success" value="Register"/></div>
</form>
    <a href="/login">Have account?</a>
</div>
<div th:insert="blocks/footer::footer"></div>
</body>
</html>